nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover{
  background-color: rgb(214, 210, 210);
}

.boton{
  width: auto;
  height: auto;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  line-height: 1;
}

.titulo{
  display: flex;
  flex-direction: end;
}
